.mycolor
{
    background-color: #ff9900;
}

#topicDisplay
{
    margin-top: 34px;
}

#topicDisplay
{
    font-size: 28px;
    font-weight: 700;
}

.tvmode
{
    display: none;
}

#elementpage
{
    background-color: #fff;
}

